/* Header */
header {
  width: 100%;
  height: 100px;
	position:fixed;
	top: 0;
	z-index: 500;
  padding: 25px 0;
  background-color: #003B00;
}

.branding {
  width: 300px;
  height: 100px;
  float: left;
  display: block;
  background: url("../images/logotype.svg") no-repeat;
  text-indent: -999em;
  /* my first hack */
}

/* Horizontal Navigation */

nav {
  float: right;
  margin-top:10px;

}

nav ul {
  list-style-type: none;
  text-align: right;
  padding: 10;
  margin: 0;
}

nav li {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: .9em;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
	color:#ffffff;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
}

nav li a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover {
  color: #1049B5;
  text-decoration: none;
}

nav li a:active {
  color: #ffffff;
  text-decoration: none;
}



/* Hero Slides */


.headroom {
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned{
  transform: translateY(-100%);
}


.hero-slide-show img{
  opacity:0.5;
	padding-top:80px;
 
}
.image-overlay{
	position: absolute;
	top: 136px;
	height: 550px;
	width: 100%;
	z-index: 100;

	
	overflow: visible;
  
}
.image-overlay h1 {
  margin-top:150px;

  font-size:3.5em;
color:#58242A;
	text-align: center;
	text-transform: uppercase;
}

/* End of Hero Slides */



.home {
  
  
  
  background-color:#002266;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color:#FFFFFF;
  text-align:center;
  line-height:40px;
  margin-top:60px;
  margin-bottom:60px;
 
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #ffffff;
text-align:center;
  font-size: 2em;
  margin-bottom:20px;
  
}

                                   


p {
  font-family: "adobe-caslon-pro",serif;
  margin:0;
  font-size:1em;
}
/* Contact Form */
/* ------- [ Contact Form ] ------- */

.subhead {
  font-family: 'Lato', sans-serif;
  font-weight:400;
  
}


/*Button */


.button {
  display: inline-block;
  padding: 0 20px;
  background-color: #0F1D38;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 47px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .4);
  margin-bottom: 20px;
  float:right;
  margin-right:10px;
  font-family: 'Lato', sans-serif;
}


.button:link {
  color: #ffffff;
  text-decoration: none;
}

.button:hover {
  background-color: #1049B5;
}
	



.button:link {
  color: #ffffff;
  text-decoration: none;
}




/* End Button */


/* Campaign */


.section-heads {
  padding:100px 0 20px 0;
  margin-bottom:0;
  text-align: center;
}

#campaign {
  width: 100%;
  padding: 100px 0 150px 0;
  background-color:#FFFFFF;

}


.the-campaign h2 {
  color:#21407c;
  font-weight:900;
  font-size:2.5em;
}

.the-campaign {
  margin-bottom:100px;
 
}
.section-text {
  text-align:center;
}

.campaign-ads {
  margin-top: 30px;
}

#campaign a:link {
  color: #000000;
  text-decoration: none;
}

#campaign a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

#campaign a:visited {
  color: #000000;
  text-decoration:none;
}




.campaign-link {
  color:#000000;
  text-align:center;
  
}


/* Contact */


#contact{
	width: 100%;
	padding: 100px 0 100px 0;
	background-color: #007c00;
	float: left;
 
}



.subhead {
    font-family: 'Lato', sans-serif;
  margin-top:10px;
  font-weight:700;
  color:#0F1D38;
  font-size:1em;
  text-align:center;
}

.contact-form img {
	width: 460px;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 100px;
	color: #FFFFFF;
}

.form {
	padding-top:80px;

}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
	border: 1px solid #DADADA;
	color: #888;
	font-family: "adobe-caslon-pro",serif;
	height: 35px;
	margin-bottom: 25px;
	outline: 0 none;
	padding:10px;
	width: 460px;
	font-weight: 100;
	font-size:1em;
}

.contact-form input{
	padding:20px;
}


.contact-form textarea {
	height: 150px;
	padding:10px;
}

.message {
	height: 262px;
}

.contact-form select {
	text-indent: 0.01px;
	text-overflow: '' ;
	width: 100%;
	height: 35px;
}


/* End Contact */


#news {
	width: 100%;
	padding: 100px 0 100px 0;
	background-color: #ffffff;
	float: left;
	text-align: center;
}

#news h2 {
  color:#21407c;
  font-size:2.5em;
  font-weight:900;
}


#news h3 {
  color:#21407c;
  padding-bottom:70px;
  line-height:25px;
  text-transform:uppercase;
  font-weight:400;
	font-size:1.4em;
  
}


.articles img {
	margin-bottom: 10px;
}

.articles-btn a:link {
	display: block;
	outline: 0;
	border-radius: 0px;
	padding: 5px 15px;
	width: 100px;
	background-color: #ffffff;
	font-size: .8em;
	font-weight: 500;
	letter-spacing: .03px;
	text-indent: .03px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
	border: 1px solid #000000;
	margin-left: auto;
	margin-right: auto;
}

.articles-btn a:visited {
	color: #ffffff;
	text-decoration: none;
}

.articles-btn a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #434141;
}

.article-link3 {
  color:#000000;
  padding-top:10px;
}

.article-link2{
  color:#000000;
  padding-top:25px;
}



.article-link1{
  color:#000000;
  padding-top:25px;
}

.section-heads1 {
  color:#000000;
  padding-bottom:15px;
  font-size:2em;
}



.video {
  padding-top: 100px;
  align-content:center;
  
  
}


.section-heads{
  color:#ffffff;
  margin-bottom: 60px;
  padding-top:80px;
  font-size:2em;
  font-weight:700;
}

.about-head {
  padding-top:100px;
  padding-bottom:60px;
}

.about-head h2{
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	font-weight: 900;
	color: #FFFFFF;
}
#about {
	width: 100%;
	color:#ffffff;
	background-color: #58242A;
	float: left;
  margin-top:100px;
 
}


.learn-more {
  float:left;
	margin-left:6px;
}
.columns_2 {
  margin-right:20px;
  
  margin-bottom:80px;
}


footer {
  width: 100%;
  background-color: #003B00;
  float: left;
  text-align: left;
  padding: 30px 0 30px 0;
}

footer a:link {
  color: #ffffff;
  text-decoration: none;
}
footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #ffffff;
}
footer a:active {
  color: #ffffff;
}
.footer-logo img {
  float: left;
  height: 161px;
  padding: 8px;
}

.social-media {
  float:right;
  width:100%;
}
.social-icons li {
 float:right;
  list-style-type: none;
  display: inline-block;
  color: #ffffff;
  padding-right: 15px;
  
}
.social-icons a:link {
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:visted {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:active {
  color: #ffffff;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
  color: #ffffff;
  font-size: 1.7em;
	float:right;
}



footer a:link {
  color: #FFFFFF;
  text-decoration: none;
  outline: 0;
}

footer a:visited {
  color: #CCB289;
  text-decoration: none;
  outline: 0;
}

footer a:hover {
  color: #FFFFFF;
}

footer a:active {
  color: #FFFFFF;
}



.copyright {
  background-color: #003B00;
  width: 100%;
  color: #FFFFFF;
  font-size:1.2em;
font-weight:7400;
  
}


.copyright p {
 padding:40px;
font-family: 'Lato', sans-serif;
  text-align:center;

}

